@tailwind base;
@tailwind components;
@tailwind utilities;

table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    padding: 8px;
    border-bottom: 1px solid #494949;
    text-align: left;
}
.action-column {
    text-align: center;
}

.description-toggle {
    max-width: 200px;
}

.description-toggle .truncate {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
}

.description-toggle .truncate.expanded {
    white-space: normal;
    overflow: visible;
    text-overflow: initial;
}
